* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  background-color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  overflow-wrap: break-word;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1vh;
  border: 4px solid transparent;
  background-clip: padding-box;
  background-color: #747474;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}

.options {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
  top: 0;
  z-index: 9999;
  background-color: rgba(12, 12, 12, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: -webkit-sticky;
  position: sticky;
}
.options * {
  margin-block: 0.1em;
}
.options.error {
  -webkit-animation: pulse 1s alternate;
          animation: pulse 1s alternate;
}
@-webkit-keyframes pulse {
  from {
    background-color: rgba(100, 40, 40, 0.5);
  }
}
@keyframes pulse {
  from {
    background-color: rgba(100, 40, 40, 0.5);
  }
}

input, .color-picker {
  color: white;
  font-size: 0.9em;
  background-color: #252525;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: inset 0 0 10px -2px black;
  border: 1px solid #2b2b2b;
}
input.color-picker, .color-picker.color-picker {
  padding-inline: 0;
}
input[type=color], .color-picker[type=color] {
  padding: 0;
}
input input, .color-picker input {
  visibility: hidden;
}

button {
  display: inline-block;
  background-color: #252525;
  border: none;
  color: white;
  font-size: 1em;
  padding: 0.4em 1.75em;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.25s, box-shadow 1s, color 0.25s;
}
button:hover {
  background-color: var(--color-hover, #77dba4);
  box-shadow: 0 0 10px 1px rgba(36, 36, 36, 0.63);
  color: black;
  cursor: pointer;
}
button:active, button:focus-visible {
  background-color: var(--color-active, #ceffe4);
  transition: 0.1s;
  transform: scale(1.1);
  color: black;
}
button.remove {
  --color-hover: rgb(219, 109, 109);
  --color-active: rgb(236, 218, 218);
}
button.select-all {
  --color-hover: rgb(216, 218, 99);
  --color-active: rgb(248, 243, 212);
}

.todos-container {
  display: flex;
  flex-wrap: wrap;
  color: white;
  gap: 1em;
  margin: 1em;
}

.todo {
  --shake-anim-offset: .03em;
  display: flex;
  gap: 0.25em;
  position: relative;
  flex-direction: column;
  background-image: linear-gradient(-150deg, #222, var(--bg-color, #44ca92));
  background-size: 175%;
  background-position: right;
  box-shadow: inset 0 0 70px -5px rgba(0, 0, 0, 0.61);
  padding: 1em;
  border-radius: 10px;
  flex-grow: 1;
  min-height: 200px;
  min-width: 20vw;
  overflow: hidden;
  z-index: 1;
  outline: 0 solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: 3px solid rgba(255, 255, 255, 0.04);
  outline-offset: -3px;
}
.todo, .todo * {
  transition: 0.5s;
}
.todo .title {
  font-size: 2.5em;
  font-weight: bold;
}
.todo .date {
  color: rgba(255, 255, 255, 0.267);
  font-size: 0.75em;
  font-weight: bold;
  margin-top: auto;
  padding-top: 1em;
}
.todo .body {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.795);
}
.todo .color-btn {
  position: absolute;
  bottom: 1em;
  right: 1em;
  top: calc(100% - 3em);
  transform: translateY(200%);
  transition: 0.5s;
  visibility: hidden;
}
.todo [contentEditable=true] {
  background-image: linear-gradient(90deg, var(--editable-color, rgba(0, 0, 0, 0.479)), transparent);
  border-radius: 5px;
  padding: 0.1em;
}
.todo.in {
  -webkit-animation: slide 0.5s forwards;
          animation: slide 0.5s forwards;
}
.todo.selected {
  outline-color: #b14d4d;
  background-position: right;
  --bg-color: #b14d4d !important;
  -webkit-animation: shake 500ms alternate infinite;
          animation: shake 500ms alternate infinite;
}
.todo.edit {
  outline-color: #b67b38;
  background-position: right;
  --bg-color: #b67b38 !important;
  background-position: left;
}
.todo.edit .color-btn {
  transform: translateY(0);
  visibility: visible;
}
.todo.remove {
  animation: slide 0.25s reverse forwards;
}
.todo.shake {
  --shake-anim-offset: .25em;
  -webkit-animation: shake 350ms alternate;
          animation: shake 350ms alternate;
}
.todo.shake .title {
  --editable-color: rgba(131, 33, 33, 0.479);
}
.todo:hover, .todo:focus-visible {
  cursor: pointer;
  background-position: left;
}
.todo:hover:focus-visible, .todo:focus-visible:focus-visible {
  outline: 2px solid white;
}
.todo::before {
  z-index: -1;
  position: absolute;
  content: "";
  inset: 0;
  background-image: linear-gradient(320deg, transparent, rgba(0, 0, 0, 0.486));
}
@-webkit-keyframes slide {
  from {
    transform: translateY(50%) scale(0.25);
    opacity: 0;
  }
}
@keyframes slide {
  from {
    transform: translateY(50%) scale(0.25);
    opacity: 0;
  }
}
@-webkit-keyframes shake {
  15% {
    transform: translate(0, var(--shake-anim-offset));
  }
  30% {
    transform: translate(0, 0);
  }
  45% {
    transform: translate(var(--shake-anim-offset), calc(var(--shake-anim-offset) * -1));
  }
  60% {
    transform: translate(calc(var(--shake-anim-offset) * -1), 0);
  }
  75% {
    transform: translate(0, var(--shake-anim-offset));
  }
  90% {
    transform: translate(var(--shake-anim-offset), var(--shake-anim-offset));
  }
}
@keyframes shake {
  15% {
    transform: translate(0, var(--shake-anim-offset));
  }
  30% {
    transform: translate(0, 0);
  }
  45% {
    transform: translate(var(--shake-anim-offset), calc(var(--shake-anim-offset) * -1));
  }
  60% {
    transform: translate(calc(var(--shake-anim-offset) * -1), 0);
  }
  75% {
    transform: translate(0, var(--shake-anim-offset));
  }
  90% {
    transform: translate(var(--shake-anim-offset), var(--shake-anim-offset));
  }
}

.github-label {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 10vh solid white;
  border-left: 10vh solid transparent;
  transform: rotate(90deg);
  z-index: 9999;
  pointer-events: none;
}
.github-label img {
  width: 3.3333333333vh;
  position: fixed;
  right: 5vh;
  bottom: 5vh;
  transform: rotate(-90deg) translate(10%, 110%);
  pointer-events: all;
}/*# sourceMappingURL=styles.css.map */